form action="/animals" method="post"
    input name="name" placeholder="nytt drjur" type="text"
    input name="amount" placeholder="hur många?" type="number" step="1"
    input type="submit" value="skriv!"
    